<ul class="nav our-nav bg-dark">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="/register">Register</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/login">Login</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/">Home</a>
	</li>
</ul>
